.LogoContainer{
    width: 15%;
    height: 100%;
    margin: 0 auto;
}
.TextContainer{
    position: absolute;
    width: 15%;
    text-align: center;
    margin-top: 25px;
}
.TextContainer a{
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}